*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
     background-color: aliceblue;
}
.container{
     display: flex;
     justify-content: center;
     margin-top: 300px;
}
.source{
     color: gray;
     margin: 10px 0;
}
.source span{
     color: #00829b;
}
.blocks{
     display:flex;
     width: 1000px;
     height: 200px;
     position: relative;
}

.block{
     width: 50%;
     padding: 50px;
     background-color: white;
}
.get{
     background-color:#00829b;
}
.title{
     margin-bottom: 5px;
     font-size: 14px;
     color: rgb(54 54 54);
}
.title2{
     margin-bottom: 5px;
     font-size: 14px;
     color: white;
}

.text{
     display: flex;
     justify-content:flex-start;
     gap: 20px;
     margin-top: 10px;
}
.cerruentCourse, .currentData{
     font-size: 13px;
     color: rgb(100, 100, 100);
}
.course{
     font-size: 13px;
}
.btnConvert{
     position: absolute;
     bottom: 0;
     margin: 0 auto;
     left: 40%;
     cursor: pointer;
     background-color: #dce123;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     border: none;
     width: 200px;
     height: 50px;
     font-weight: 600;
     font-size: 19px;
}

.btnConvert:hover{
     background-color: rgb(230, 236, 51);
}

.box-input{
     width: 400px;
     height: 45px;
     display: flex;
}
input{
     outline: none;
     font-size: 25px;
     font-weight: 600;
     width: 70%;
     height: 100%;
     padding: 10px 15px;
}
.selector-wraper, .selector-wraper1{
     width: 30%;
     height: 100%;
     position: relative;
}


.selector-wraper::after {
     content: "";
     position: absolute;
     right: 12px;
     top: 50%;
     width: 0;
     height: 0;
     border-left: 6px solid transparent;
     border-top: 6px solid white;
     border-right: 6px solid transparent;
     transform: translateY(-50%);
     pointer-events: none;
}

.spect::after{
     border-top: 6px solid rgb(0, 0, 0);
}
.colot-text-option > select{
     color: white;
}
.colot-text-option>select option{
     color: black;
}
select {
     width: 100%;
     height: 100%;
     padding: 0 30px 0 10px;
     appearance: none;
     -webkit-appearance: none;
     -moz-appearance: none;
}
.trans input{
     background-color: transparent;
     color: white;
     border: 1px solid white;
}
.trans
select {
     background-color: transparent;
     border: 1px solid white;
}
.exch-box{
     position: relative;
}
.exchange{
     position: absolute;
     width: 50px;
     height: 50px;
     bottom: 80px;
     right: -26px;
     background-color:#00829b;
     box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.301);
     cursor: pointer;
}

.trans > input[readonly] {
     cursor: default;
}
.errorText{
     color: red;
     font-size: 18px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
}

.course_2{
     display: flex;
     justify-content: flex-end;
     margin: 10px;
     font-size: 13px;
     color: white;
}